.titulo{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: black;
}

.cursos{
    background-color:black;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    border:20px solid black;
    text-align: center;
}

#container-rodape{
    background-color: black;
    color: orange;
}

.container{
    position: relative;
}