<h3 class="Cursos">Cursos</h3>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2,4 mb-4">
            <div class="card" style="width: 230px; height: 790px;">
                <img class="card-img-top" src="../../assets/img/direito.png" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Direito</h5>
                    <h6 class="card-time">Durção: 10 Semestres</h6>
                        <h6 class="card-type"> Nivel: Graduação</h6>
                            <h6 class="card-type">Turno: Noturno</h6>
                                <p class="card-text"><b>Descrição:</b> A formação multidisciplinar, de tal forma
                                    que, ao atingir o bacharelado, estará apto a exercer a advocacia, como
                                    profissional liberal, trabalhar em empresas, escritórios e em órgãos
                                    governamentais, atuar na área de consultoria, ou ainda entrar para a carreira
                                    jurídica como delegado de polícia, juiz de direito, promotor público ou advogado
                                    do Estado, etc. do Curso.</p>
                                <a href="#" class="btn btn-primary">Inscrever-se</a>
                </div>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-4">
            <div class="card" style="width: 230px; height: 790px">
                <img class="card-img-top align-items-end" src="../../assets/img/eng.jpg" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Engenharia Civil</h5>
                    <h6 class="card-time">Durção: 10 Semestres</h6>
                        <h6 class="card-type">Nivel: Graduação</h6>
                            <h6 class="card-type">Turno: Matutino</h6>
                                <p class="card-text"><b>Descrição:</b> O engenheiro civil é um profissional que atua
                                    como liberal ou como empregado, em empresas de caráter privado ou em estatais.
                                    Na atividade profissional liberal, atua como consultor, responsável técnico de
                                    projetos e de obras e perito em apoio judiciário, dentre outras funções. Pode
                                    ainda militar na área docente e ter acesso a cargos públicos, via concurso.</p>
                                <a href="#" class="btn btn-primary align-items-end">Inscrever-se</a>
                </div>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-4">
            <div class="card" style="width: 230px; height: 790px">
                <img class="card-img-top" src="../../assets/img/nutri.png" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Nutrição</h5>
                    <h6 class="card-time">Durção: 8 Semestres</h6>
                        <h6 class="card-type">Nivel: Graduação</h6>
                            <h6 class="card-type">Turno: Matutino</h6>
                                <p class="card-text"><b>Descrição:</b> O curso de graduação em Nutrição procura
                                    estar sempre engajado para manter um currículo adequado às mudanças pelas quais
                                    a sociedade vem passando, sem deixar de priorizar a atenção dietética, em nível
                                    individual quanto coletivo, por meio de ações integradas de prevenção, promoção,
                                    proteção e reabilitação da saúde, e do processo saúde-doença.</p>
                                <a href="#" class="btn btn-primary align-items-end">Inscrever-se</a>
                </div>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-4">
            <div class="card" style="width: 230px; height: 790px">
                <img class="card-img-top" src="../../assets/img/eco.png" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Ciências Econômicas</h5>
                    <h6 class="card-time">Durção: 8 Semestres</h6>
                        <h6 class="card-type">Nivel: Graduação</h6>
                            <h6 class="card-type">Turno: Noturno</h6>
                                <p class="card-text"><b>Descrição:</b> O curso de Ciências Econômicas tem por
                                    objetivo central de estudo a análise dos processos de produção, distribuição,
                                    uso e acumulação de bens materiais, do ponto de vista dos condicionantes
                                    sociopolíticos, gerenciais e naturais neles influentes. Sua evolução tem como
                                    propósito programático básico a oferta de soluções de cunho
                                    financeiro-administrativo.</p>
                                <a href="#" class="btn btn-primary align-items-end">Inscrever-se</a>
                </div>
            </div>
        </div>
        <div class="col-2,4 mb-4 ml-4">
            <div class="card" style="width: 230px; height: 790px">
                <img class="card-img-top" src="../../assets/img/adm.jpeg" alt="Card image cap" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">Administração</h5>
                    <h6 class="card-time">Durção: 8 Semestres</h6>
                        <h6 class="card-type">Nivel: Graduação</h6>
                            <h6 class="card-type">Turno: Vespertino</h6>
                                <p class="card-text pb-65"><b>Descrição:</b> O curso para habilitação em
                                    Administração forma profissionais com uma visão sistêmica dos principais
                                    enfoques necessários para a gestão das organizações. Tem por meta buscar o
                                    sucesso das empresas, oferecendo ao egresso o conhecimento dos principais
                                    métodos e instrumentos que possibilitem os melhores resultados na gestão
                                    financeira.</p>
                                <a href="#" class="btn btn-primary">Inscrever-se</a>
                </div>
            </div>
        </div>
    </div>
</div>